
header{
    position: relative;
    left: 38%;
    margin-bottom: 1em;
    margin-top: 1em;

}
#logo{
    width: 20%;

}

nav{
    background-color: gainsboro;
    height: 3em;
    text-align: center;

}
nav a{
    color: darkslategrey;
    margin-right: 5% ;
    font-size: 1.05em;
    text-decoration: none;
}

.nav-text{
    position: relative;
    top: 23%;
}

#feature{
    background-color: gainsboro;
    margin: 1.5em;
    height: 4.5em;
    width: 95%;
    text-align: center;
}
#feature-text{
    position: relative;
    top: 35%;
    font-size: 1.5em;
}

table{
    width: 95%;
    margin: 1.5em;
    height: 4.5em;

}
td{
    background-color: gainsboro;
    text-align: center;


}

footer{
    background-color: gainsboro;
    text-align: center;
    height: 3em;
    
}

footer p{
    position: relative;
    top: 35%;
}

